.nav-menus-php #cboxContent {
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .nav-menus-php #cboxContent .notice {
    margin: 10px 0 0 0; }
    .nav-menus-php #cboxContent .notice .notice-dismiss:focus {
      box-shadow: none; }
  .nav-menus-php #cboxContent .mega-tooltip {
    position: relative; }
    .nav-menus-php #cboxContent .mega-tooltip.mega-enabled:before {
      content: attr(data-tooltip-enabled); }
    .nav-menus-php #cboxContent .mega-tooltip.mega-disabled:before {
      content: attr(data-tooltip-disabled); }
    .nav-menus-php #cboxContent .mega-tooltip:before {
      position: absolute;
      content: attr(data-tooltip);
      top: -32px;
      background: #000;
      color: #fff;
      padding: 3px 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      font-size: 10px;
      border-radius: 3px;
      margin-left: -10px;
      width: 160px;
      z-index: 2; }
    .nav-menus-php #cboxContent .mega-tooltip:after {
      top: -8px;
      left: 8px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border-color: transparent;
      border-top-color: #000;
      border-width: 4px;
      margin-left: -4px; }
    .nav-menus-php #cboxContent .mega-tooltip:before, .nav-menus-php #cboxContent .mega-tooltip:after {
      opacity: 0;
      pointer-events: none;
      text-align: center;
      transition: all 0.3s;
      transition-delay: 0.3s; }
    .nav-menus-php #cboxContent .mega-tooltip:focus:before, .nav-menus-php #cboxContent .mega-tooltip:focus:after, .nav-menus-php #cboxContent .mega-tooltip:hover:before, .nav-menus-php #cboxContent .mega-tooltip:hover:after {
      opacity: 1; }
  .nav-menus-php #cboxContent .mm_tabs li.mm_tab_horizontal {
    float: left;
    margin-right: 10px;
    cursor: pointer;
    padding: 3px 5px;
    font-size: 0.9em;
    color: #444;
    transition: all 0.05s linear; }
    .nav-menus-php #cboxContent .mm_tabs li.mm_tab_horizontal:hover {
      background: #2ea2cc;
      color: white; }
  .nav-menus-php #cboxContent .mm_tabs li.mm_tab_horizontal.active {
    background: #2ea2cc;
    color: white; }
  .nav-menus-php #cboxContent .mm_tabs.horizontal {
    width: 85%;
    float: left;
    margin-top: 0; }
  .nav-menus-php #cboxContent .filter_icons {
    width: 14%;
    float: right;
    margin-top: 0;
    font-size: 0.9em; }
  .nav-menus-php #cboxContent .mm_header_container {
    float: left;
    width: 100%;
    border-bottom: 1px solid #eee; }
    .nav-menus-php #cboxContent .mm_header_container .mm_title {
      padding: 0 20px;
      background: white;
      font-size: 1.3em;
      line-height: 75px;
      float: left; }
      .nav-menus-php #cboxContent .mm_header_container .mm_title br {
        display: none; }
    .nav-menus-php #cboxContent .mm_header_container .mm_saving {
      text-align: right;
      padding: 0 20px;
      display: none;
      line-height: 75px;
      text-transform: uppercase;
      color: #2ea2cc;
      font-size: 11px;
      font-weight: bold;
      float: right;
      background: #fff; }
      .nav-menus-php #cboxContent .mm_header_container .mm_saving:before {
        color: #2ea2cc;
        display: inline-block;
        font: normal 20px/75px 'dashicons';
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        vertical-align: top;
        margin-right: 5px;
        content: '\f463';
        -webkit-animation: rotation 2s infinite linear;
        animation: rotation 2s infinite linear; }
  .nav-menus-php #cboxContent .mm_tab_container {
    width: 15%;
    float: left;
    position: relative;
    height: 504px;
    background: white;
    -webkit-box-shadow: inset -10px 0px 7px -12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset -10px 0px 7px -12px rgba(0, 0, 0, 0.2);
    box-shadow: inset -10px 0px 7px -12px rgba(0, 0, 0, 0.2); }
    .nav-menus-php #cboxContent .mm_tab_container .mm_tab {
      text-decoration: none;
      color: #444;
      width: 100%;
      display: block;
      padding: 10px 0px 10px 20px;
      box-sizing: border-box;
      outline: 0;
      position: relative;
      transition: all 0.05s linear;
      font-size: 12px; }
    .nav-menus-php #cboxContent .mm_tab_container .mm_tab.active {
      color: white;
      background: #2ea2cc; }
      .nav-menus-php #cboxContent .mm_tab_container .mm_tab.active:after {
        right: 0;
        border: solid 5px transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-right-color: white;
        top: 50%;
        margin-top: -5px; }
  .nav-menus-php #cboxContent p.submit {
    margin-bottom: 0;
    padding-bottom: 0; }
  .nav-menus-php #cboxContent .mm_content_container {
    padding: 20px;
    float: right;
    height: 504px;
    width: 85%;
    overflow: auto;
    box-sizing: border-box;
    position: relative; }
  .nav-menus-php #cboxContent .mega_menu .mm_panel_options {
    float: right; }
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid button.mega-add-row,
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid button.mega-add-column {
    height: 21px;
    line-height: 20px;
    font-size: 12px;
    padding-left: 4px; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid button.mega-add-row .dashicons-plus,
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid button.mega-add-column .dashicons-plus {
      margin-top: 4px; }
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid > .drop-area {
    margin-top: 20px;
    border: 1px dashed #999;
    max-height: 100px !important; }
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row {
    width: 100%;
    display: inline-block;
    background-color: #f7f7f7;
    border: 1px solid #DFDFDF;
    clear: both;
    padding: 10px 5px;
    margin-top: 20px;
    box-sizing: border-box;
    position: relative;
    min-height: 100%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row .mega-row-header {
      display: inline-block;
      width: 100%;
      padding: 5px 0;
      box-sizing: border-box; }
      .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row .mega-row-header .mega-disabled .dashicons {
        opacity: 1; }
      .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row .mega-row-header .dashicons {
        opacity: 0.2;
        transition: opacity 0.5s; }
      .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row .mega-row-header .dashicons-plus {
        opacity: 1; }
      .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row .mega-row-header .mega-row-actions {
        display: inline-block; }
        .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row .mega-row-header .mega-row-actions .dashicons-trash {
          display: none;
          color: #D0011B; }
      .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row .mega-row-header .mega-row-actions:hover .dashicons {
        opacity: 1; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row[data-total-cols='0'] .mega-row-header .mega-row-actions .dashicons-trash {
      display: inline-block;
      opacity: 1; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row .notice {
      margin: 10px 5px;
      cursor: pointer; }
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col {
    display: inline-block;
    position: relative;
    vertical-align: top;
    float: left;
    transition: width 0.1s; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-wrap {
      background-color: #fff;
      border: 1px solid #DFDFDF;
      margin: 3px;
      padding: 8px; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='1'] .mega-col-contract,
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='1'] .widget-title {
      display: none; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='1'] .mega-col-header .mega-col-actions {
      float: left;
      clear: both; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-widgets {
      min-height: 50px; }
      .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-widgets .widget {
        float: none;
        width: 100%;
        border: 0;
        margin: 3px 0; }
        .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-widgets .widget .widget-top {
          background: #f7f7f7;
          border: 1px solid #DFDFDF;
          height: 42px; }
        .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-widgets .widget.open .widget-top {
          border: 1px solid #999;
          border-bottom: 0; }
        .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-widgets .widget.open .widget-inner {
          border: 1px solid #999; }
        .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-widgets .widget .widget-title-action {
          background: #f7f7f7;
          border: 0;
          padding-left: 0;
          padding-right: 10px;
          position: absolute;
          top: 0; }
        .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-widgets .widget[data-type=item] .widget-title-action {
          display: none; }
        .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-widgets .widget .widget-title h4 {
          font-weight: normal;
          margin-top: 5px;
          line-height: 16px; }
        .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-widgets .widget .widget-title .widget-desc {
          clear: both;
          font-weight: normal;
          font-size: 10px;
          opacity: 0.6;
          float: left;
          font-style: italic; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-description {
      float: left; }
      .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-description .mega-disabled .dashicons {
        opacity: 1; }
      .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-description .dashicons {
        opacity: 0.2;
        transition: opacity 0.5s; }
      .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-description .dashicons-trash {
        display: none;
        color: #D0011B; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-total-blocks='0'] .dashicons-trash {
      display: inline-block;
      opacity: 1; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-header {
      display: inline-block;
      width: 100%; }
      .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-header .mega-col-description:hover .dashicons {
        opacity: 1; }
      .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-header .mega-col-actions {
        float: right; }
        .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-header .mega-col-actions .dashicons {
          margin-right: 0;
          width: 10px;
          cursor: pointer; }
        .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col .mega-col-header .mega-col-actions > span {
          font-size: 10px;
          position: relative;
          top: -3px; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='1'] {
      width: 100%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='1'] {
      width: 50%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='2'] {
      width: 100%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='1'] {
      width: 33.33333%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='2'] {
      width: 66.66667%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='3'] {
      width: 100%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='1'] {
      width: 25%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='2'] {
      width: 50%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='3'] {
      width: 75%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='4'] {
      width: 100%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='1'] {
      width: 20%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='2'] {
      width: 40%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='3'] {
      width: 60%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='4'] {
      width: 80%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='5'] {
      width: 100%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='1'] {
      width: 16.66667%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='2'] {
      width: 33.33333%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='3'] {
      width: 50%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='4'] {
      width: 66.66667%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='5'] {
      width: 83.33333%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='6'] {
      width: 100%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='1'] {
      width: 14.28571%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='2'] {
      width: 28.57143%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='3'] {
      width: 42.85714%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='4'] {
      width: 57.14286%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='5'] {
      width: 71.42857%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='6'] {
      width: 85.71429%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='7'] {
      width: 100%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='1'] {
      width: 12.5%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='2'] {
      width: 25%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='3'] {
      width: 37.5%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='4'] {
      width: 50%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='5'] {
      width: 62.5%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='6'] {
      width: 75%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='7'] {
      width: 87.5%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='8'] {
      width: 100%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='1'] {
      width: 11.11111%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='2'] {
      width: 22.22222%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='3'] {
      width: 33.33333%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='4'] {
      width: 44.44444%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='5'] {
      width: 55.55556%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='6'] {
      width: 66.66667%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='7'] {
      width: 77.77778%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='8'] {
      width: 88.88889%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='9'] {
      width: 100%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='1'] {
      width: 10%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='2'] {
      width: 20%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='3'] {
      width: 30%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='4'] {
      width: 40%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='5'] {
      width: 50%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='6'] {
      width: 60%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='7'] {
      width: 70%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='8'] {
      width: 80%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='9'] {
      width: 90%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='10'] {
      width: 100%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='1'] {
      width: 9.09091%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='2'] {
      width: 18.18182%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='3'] {
      width: 27.27273%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='4'] {
      width: 36.36364%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='5'] {
      width: 45.45455%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='6'] {
      width: 54.54545%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='7'] {
      width: 63.63636%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='8'] {
      width: 72.72727%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='9'] {
      width: 81.81818%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='10'] {
      width: 90.90909%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='11'] {
      width: 100%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='1'] {
      width: 8.33333%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='2'] {
      width: 16.66667%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='3'] {
      width: 25%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='4'] {
      width: 33.33333%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='5'] {
      width: 41.66667%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='6'] {
      width: 50%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='7'] {
      width: 58.33333%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='8'] {
      width: 66.66667%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='9'] {
      width: 75%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='10'] {
      width: 83.33333%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='11'] {
      width: 91.66667%; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col[data-span='12'] {
      width: 100%; }
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid button.mega-add-column {
    position: absolute;
    right: 10px;
    top: 10px; }
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid button.mega-add-row {
    margin-top: 20px; }
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row-settings,
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col-settings {
    float: left;
    width: 100%;
    display: none;
    margin: 5px 0 20px;
    background: #f7f7f7;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #DFDFDF; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row-settings label,
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col-settings label {
      width: 100%;
      font-size: 11px;
      text-transform: uppercase;
      margin-right: 5px; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row-settings input,
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col-settings input {
      font-size: 11px;
      max-width: 100%;
      display: block;
      width: 100%;
      margin: 5px 0 10px 0; }
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row-settings button,
    .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-col-settings button {
      display: block; }
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row-settings {
    margin: 10px 0;
    background: white; }
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid .dashicons {
    font-size: 13px;
    width: 17px;
    cursor: pointer; }
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid .dashicons-sort,
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid .dashicons-move {
    cursor: move; }
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-disabled .dashicons:before {
    color: #D0011B; }
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-row[data-total-cols='12'] .mega-col-expand {
    pointer-events: none;
    color: #DFDFDF; }
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid .mega-add-row {
    clear: both; }
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid .drop-area {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .nav-menus-php #cboxContent .mega_menu #megamenu-grid .ui-sortable-helper {
    opacity: 0.5; }
  .nav-menus-php #cboxContent .mega_menu #widgets {
    float: left;
    background: #f7f7f7;
    border: 1px solid #DFDFDF;
    width: 760px;
    position: relative;
    margin-top: 15px;
    padding: 5px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    min-height: 200px; }
    .nav-menus-php #cboxContent .mega_menu #widgets .no_widgets {
      font-size: 0.9em;
      margin-left: 10px;
      font-style: italic;
      margin-top: 10px;
      clear: both;
      color: #444;
      float: left; }
    .nav-menus-php #cboxContent .mega_menu #widgets .drop-area {
      display: block;
      border: 1px solid #eee;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .nav-menus-php #cboxContent .mega_menu #widgets .widget[data-type='menu_item'] .widget-action {
      display: none; }
    .nav-menus-php #cboxContent .mega_menu #widgets .widget {
      width: 100%; }
      .nav-menus-php #cboxContent .mega_menu #widgets .widget h4 {
        max-width: 700px; }
  .nav-menus-php #cboxContent .mega_menu select#mm_enable_mega_menu {
    margin-bottom: 0;
    font-size: 0.9em;
    margin-left: 5px; }
  .nav-menus-php #cboxContent .mega_menu select#mm_widget_selector {
    font-size: 0.9em;
    float: right;
    margin-right: 5px; }
  .nav-menus-php #cboxContent .mega_menu #mm_number_of_columns {
    font-size: 0.9em;
    float: right;
    margin-right: 10px; }
  .nav-menus-php #cboxContent .mega_menu .mm_header {
    float: right; }
  .nav-menus-php #cboxContent .mega_menu .widget {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 160px;
    margin: 0;
    color: #444;
    font-size: 12px;
    display: inline-block;
    float: left;
    border: 5px solid transparent; }
    .nav-menus-php #cboxContent .mega_menu .widget:hover .widget-top {
      border: 1px solid #444; }
    .nav-menus-php #cboxContent .mega_menu .widget:hover .widget-inner {
      border: 1px solid #444; }
    .nav-menus-php #cboxContent .mega_menu .widget textarea {
      max-height: 100px; }
  .nav-menus-php #cboxContent .mega_menu .widget.open {
    z-index: 999; }
    .nav-menus-php #cboxContent .mega_menu .widget.open .widget-top {
      border: 1px solid #444;
      cursor: move;
      z-index: 1001;
      position: relative;
      border-bottom: 0; }
    .nav-menus-php #cboxContent .mega_menu .widget.open .widget-inner {
      border: 1px solid #444;
      position: absolute;
      z-index: 1000;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
      margin-top: -1px;
      background: white;
      min-width: 340px;
      box-sizing: border-box;
      display: block; }
    .nav-menus-php #cboxContent .mega_menu .widget.open .widget-action::after {
      content: '\f142'; }
  .nav-menus-php #cboxContent .mega_menu .widget-top {
    border: 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    border: 1px solid #DFDFDF;
    padding: 0 8px;
    background: white;
    overflow: hidden; }
  .nav-menus-php #cboxContent .mega_menu .widget.sub_menu .widget-top {
    cursor: default; }
  .nav-menus-php #cboxContent .mega_menu .widget-title h4 {
    color: #444;
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 0;
    font-size: 12px;
    text-overflow: ellipsis;
    line-height: 42px; }
    .nav-menus-php #cboxContent .mega_menu .widget-title h4:after {
      color: #d54e21;
      display: none;
      font: normal 20px/1 'dashicons';
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      vertical-align: top;
      margin-left: 5px;
      content: '\f463';
      -webkit-animation: rotation 2s infinite linear;
      animation: rotation 2s infinite linear;
      vertical-align: middle; }
  .nav-menus-php #cboxContent .mega_menu .widget-title h4.loading:after {
    display: inline-block; }
  .nav-menus-php #cboxContent .mega_menu .widget[data-type='menu_item'] .widget-title h4:before {
    color: #444;
    font: normal 16px/1 'dashicons';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
    margin-right: 2px;
    content: "\f333";
    vertical-align: middle;
    top: -1px;
    position: relative; }
  .nav-menus-php #cboxContent .mega_menu .widget-controls {
    float: left; }
    .nav-menus-php #cboxContent .mega_menu .widget-controls .delete:hover {
      text-decoration: none;
      color: #D0011B; }
  .nav-menus-php #cboxContent .mega_menu .widget-inner {
    display: none;
    float: left;
    width: 100%;
    background: white; }
    .nav-menus-php #cboxContent .mega_menu .widget-inner form {
      padding: 0 15px 15px 15px;
      margin-bottom: 30px; }
    .nav-menus-php #cboxContent .mega_menu .widget-inner p {
      font-size: 12px; }
    .nav-menus-php #cboxContent .mega_menu .widget-inner select {
      font-size: 12px; }
    .nav-menus-php #cboxContent .mega_menu .widget-inner input {
      font-size: 12px; }
  .nav-menus-php #cboxContent .mega_menu .widget-title-action {
    padding: 0;
    position: relative;
    font-weight: normal;
    position: absolute;
    right: 1px;
    background: white;
    border-right: 7px solid white;
    padding-left: 10px;
    opacity: 1;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 9%, white 100%); }
    .nav-menus-php #cboxContent .mega_menu .widget-title-action a {
      display: inline-block;
      line-height: 40px; }
  .nav-menus-php #cboxContent .mega_menu .widget-option {
    right: 0;
    border: 0;
    background: 0 0;
    font: 400 16px/1 dashicons;
    speak: none;
    display: block;
    padding: 0;
    text-indent: 0;
    text-align: center;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    color: #999; }
    .nav-menus-php #cboxContent .mega_menu .widget-option:hover {
      color: #444;
      cursor: pointer; }
    .nav-menus-php #cboxContent .mega_menu .widget-option::after {
      padding: 0;
      font: 400 14px/40px dashicons;
      display: inline; }
  .nav-menus-php #cboxContent .mega_menu .widget-cols {
    line-height: 40px;
    vertical-align: top;
    display: inline-block;
    color: #999;
    font-size: 11px;
    vertical-align: bottom; }
  .nav-menus-php #cboxContent .mega_menu h5 {
    margin: 10px 0 0 10px;
    text-transform: uppercase;
    float: left; }
  .nav-menus-php #cboxContent .mega_menu .widget-expand::after {
    content: '\f345'; }
  .nav-menus-php #cboxContent .mega_menu .widget-contract::after {
    content: '\f341'; }
  .nav-menus-php #cboxContent .mega_menu .widget-action::after {
    content: '\f107';
    margin: 0; }
  .nav-menus-php #cboxContent .mega_menu .widget-option.disabled:hover {
    color: #999; }
  .nav-menus-php #cboxContent .mega_menu .widget[data-columns='1'] .widget-contract {
    display: none; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='1'] .widget[data-columns='1'] {
    width: 100%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='2'] .widget[data-columns='1'] {
    width: 50%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='2'] .widget[data-columns='2'] {
    width: 100%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='3'] .widget[data-columns='1'] {
    width: 33.3%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='3'] .widget[data-columns='2'] {
    width: 66.6%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='3'] .widget[data-columns='3'] {
    width: 100%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='4'] .widget[data-columns='1'] {
    width: 25%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='4'] .widget[data-columns='2'] {
    width: 50%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='4'] .widget[data-columns='3'] {
    width: 75%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='4'] .widget[data-columns='4'] {
    width: 100%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='5'] .widget[data-columns='1'] {
    width: 20%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='5'] .widget[data-columns='2'] {
    width: 40%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='5'] .widget[data-columns='3'] {
    width: 60%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='5'] .widget[data-columns='4'] {
    width: 80%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='5'] .widget[data-columns='5'] {
    width: 100%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='6'] .widget[data-columns='1'] {
    width: 16.6%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='6'] .widget[data-columns='2'] {
    width: 33.3%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='6'] .widget[data-columns='3'] {
    width: 50%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='6'] .widget[data-columns='4'] {
    width: 66.6%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='6'] .widget[data-columns='5'] {
    width: 83.3%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='6'] .widget[data-columns='6'] {
    width: 100%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='7'] .widget[data-columns='1'] {
    width: 14.28%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='7'] .widget[data-columns='2'] {
    width: 28.57%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='7'] .widget[data-columns='3'] {
    width: 42.85%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='7'] .widget[data-columns='4'] {
    width: 57.14%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='7'] .widget[data-columns='5'] {
    width: 71.42%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='7'] .widget[data-columns='6'] {
    width: 85.71%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='7'] .widget[data-columns='7'] {
    width: 100%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='8'] .widget[data-columns='1'] {
    width: 12.5%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='8'] .widget[data-columns='2'] {
    width: 25%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='8'] .widget[data-columns='3'] {
    width: 37.5%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='8'] .widget[data-columns='4'] {
    width: 50%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='8'] .widget[data-columns='5'] {
    width: 62.5%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='8'] .widget[data-columns='6'] {
    width: 75%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='8'] .widget[data-columns='7'] {
    width: 87.5%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='8'] .widget[data-columns='8'] {
    width: 100%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='9'] .widget[data-columns='1'] {
    width: 11.11%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='9'] .widget[data-columns='2'] {
    width: 22.22%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='9'] .widget[data-columns='3'] {
    width: 33.33%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='9'] .widget[data-columns='4'] {
    width: 44.44%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='9'] .widget[data-columns='5'] {
    width: 55.55%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='9'] .widget[data-columns='6'] {
    width: 66.66%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='9'] .widget[data-columns='7'] {
    width: 77.77%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='9'] .widget[data-columns='8'] {
    width: 88.88%; }
  .nav-menus-php #cboxContent .mega_menu #widgets[data-columns='9'] .widget[data-columns='9'] {
    width: 100%; }
  .nav-menus-php #cboxContent .mega_menu #widgets.disabled {
    opacity: 0.5; }
    .nav-menus-php #cboxContent .mega_menu #widgets.disabled:after {
      background: #DFDFDF;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: "";
      opacity: 0.3; }
  .nav-menus-php #cboxContent label[for='mm_enable_mega_menu'] {
    font-size: 12px; }
  .nav-menus-php #cboxContent .menu_icon .icon_selector {
    clear: both; }
    .nav-menus-php #cboxContent .menu_icon .icon_selector > div {
      float: left;
      padding: 0 19px 19px 0;
      width: 24px;
      height: 24px;
      box-sizing: initial; }
    .nav-menus-php #cboxContent .menu_icon .icon_selector label {
      float: left;
      display: block;
      width: 24px;
      height: 24px; }
      .nav-menus-php #cboxContent .menu_icon .icon_selector label:before {
        width: 24px;
        height: 24px;
        display: inline-block;
        content: attr(rel);
        border: 1px solid #DFDFDF;
        padding: 6px;
        background: #f7f7f7;
        color: #999; }
    .nav-menus-php #cboxContent .menu_icon .icon_selector input.radio:empty {
      margin-left: -9999px; }
      .nav-menus-php #cboxContent .menu_icon .icon_selector input.radio:empty ~ label {
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
    .nav-menus-php #cboxContent .menu_icon .icon_selector input.radio:checked ~ label {
      color: #999; }
      .nav-menus-php #cboxContent .menu_icon .icon_selector input.radio:checked ~ label:before {
        border: 1px solid #0074a2;
        color: #0074a2;
        background: white; }
    .nav-menus-php #cboxContent .menu_icon .icon_selector input.radio:hover:checked ~ label:before {
      border: 1px solid #0074a2;
      color: #0074a2;
      background: white; }
    .nav-menus-php #cboxContent .menu_icon .icon_selector input.radio:hover ~ label:before {
      color: #0074a2; }
    .nav-menus-php #cboxContent .menu_icon .icon_selector .dash label:before {
      font: 400 24px/1 dashicons; }
  .nav-menus-php #cboxContent table {
    width: 100%;
    border-collapse: collapse; }
    .nav-menus-php #cboxContent table td {
      padding-bottom: 10px; }
    .nav-menus-php #cboxContent table td.mega-name {
      width: 27%;
      line-height: 2em;
      padding-right: 30px;
      vertical-align: top;
      font-size: 12px; }
      .nav-menus-php #cboxContent table td.mega-name .mega-description {
        font-size: 0.9em;
        color: #999;
        line-height: 1.5em; }
    .nav-menus-php #cboxContent table td.mega-value {
      font-size: 12px; }
      .nav-menus-php #cboxContent table td.mega-value select {
        font-size: 0.9em;
        height: 28px;
        line-height: 28px; }
      .nav-menus-php #cboxContent table td.mega-value textarea {
        font-size: 0.9em;
        height: 28px;
        line-height: 28px; }
      .nav-menus-php #cboxContent table td.mega-value input[type=text] {
        font-size: 0.9em;
        height: 28px;
        line-height: 28px; }
      .nav-menus-php #cboxContent table td.mega-value input[type=number] {
        font-size: 0.9em;
        height: 28px;
        line-height: 28px; }
      .nav-menus-php #cboxContent table td.mega-value .mega-description {
        font-size: 0.9em;
        color: #999;
        line-height: 1.5em;
        text-indent: 2px;
        margin-top: 5px; }
    .nav-menus-php #cboxContent table .mega-menu-item-align td.mega-value select {
      float: left;
      margin-right: 10px; }
    .nav-menus-php #cboxContent table .mega-menu-item-align td.mega-value .mega-description {
      float: left;
      margin-right: 10px; }
    .nav-menus-php #cboxContent table .mega-sub-menu-align td.mega-value select {
      float: left;
      margin-right: 10px; }
    .nav-menus-php #cboxContent table .mega-sub-menu-align td.mega-value .mega-description {
      float: left;
      margin-right: 10px; }
    .nav-menus-php #cboxContent table input {
      width: 70px;
      margin-right: 20px; }
    .nav-menus-php #cboxContent table label {
      font-size: 0.9em; }
    .nav-menus-php #cboxContent table input[type=checkbox] {
      width: 16px;
      height: 16px;
      margin-right: 10px;
      vertical-align: middle; }
  .nav-menus-php #cboxContent .general_settings table td {
    padding-bottom: 5px; }
  .nav-menus-php #cboxContent form > h4.first {
    margin: 0em 0 0.7em 0; }
  .nav-menus-php #cboxContent form > h4 {
    clear: both;
    border-bottom: 1px solid #DFDFDF;
    padding: 0 0 10px 0;
    font-size: 1em;
    margin: 1.33em 0 0.7em 0; }
  .nav-menus-php #cboxContent .mm_content > h4.first {
    margin: 0em 0 0.7em 0; }
  .nav-menus-php #cboxContent .mm_content > h4 {
    clear: both;
    border-bottom: 1px solid #DFDFDF;
    padding: 0 0 10px 0;
    font-size: 1em;
    margin: 1.33em 0 0.7em 0; }
  .nav-menus-php #cboxContent img {
    height: auto;
    max-width: 100%; }
  .nav-menus-php #cboxContent div[id^=rommeled_image] .non-sortable {
    display: block !important; }

.nav-menus-php #cboxClose {
  text-indent: 0;
  background: none;
  width: auto;
  height: auto;
  color: white;
  right: -28px;
  top: 2px; }
  .nav-menus-php #cboxClose:before {
    content: "\f335";
    font: normal 24px/29px 'dashicons'; }
  .nav-menus-php #cboxClose:hover {
    color: #0074a2; }

.nav-menus-php.megamenu_enabled .mm_launch {
  background: #2ea2cc;
  border-color: #0074a2; }

.nav-menus-php.megamenu_enabled .mm_launch.mm_disabled {
  background: #999;
  border-color: #444; }

.nav-menus-php.megamenu_enabled .mm_prefix {
  display: block;
  font-size: 0.9em;
  border-left: 3px solid #ffb900;
  padding-left: 10px;
  margin-top: 3px; }

.nav-menus-php .mm_prefix {
  display: none; }

.nav-menus-php .mm_launch {
  margin-left: 10px;
  font-size: 0.8em;
  cursor: pointer;
  color: white;
  display: inline-block;
  width: auto;
  font-weight: normal;
  height: auto;
  background: #999;
  border-color: #444;
  border-width: 1px;
  padding: 0 5px;
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  position: relative; }
  .nav-menus-php .mm_launch:before {
    font-family: dashicons;
    content: "\f111";
    font-size: 10px;
    margin-right: 2px;
    display: inline-block;
    vertical-align: bottom; }

.nav-menus-php .menu-item-bar .menu-item-handle:hover .mm_launch {
  opacity: 1; }

.nav-menus-php .menu-item-bar .dashicons-admin-generic:before {
  font-size: 1.2em;
  margin-right: 1px;
  height: auto; }

.nav-menus-php .mega_menu_meta_box div#megamenu_accordion h3 {
  padding: 0 0 10px 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  float: left;
  width: 100%;
  color: #999;
  font-size: 14px;
  font-weight: normal;
  border: 0; }
  .nav-menus-php .mega_menu_meta_box div#megamenu_accordion h3:hover {
    color: #444; }
    .nav-menus-php .mega_menu_meta_box div#megamenu_accordion h3:hover::before {
      color: #000; }
  .nav-menus-php .mega_menu_meta_box div#megamenu_accordion h3::before {
    right: 0;
    content: '\f139';
    border: 0;
    background: 0 0;
    font: 400 20px/1 dashicons;
    speak: none;
    float: left;
    padding: 0;
    text-indent: 0;
    text-align: center;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    margin-right: 6px; }

.nav-menus-php .mega_menu_meta_box div#megamenu_accordion h3.ui-state-active {
  color: #444; }
  .nav-menus-php .mega_menu_meta_box div#megamenu_accordion h3.ui-state-active::before {
    content: '\f140'; }

.nav-menus-php .mega_menu_meta_box div#megamenu_accordion th::before {
  right: 0;
  content: '\f139';
  border: 0;
  background: 0 0;
  font: 400 20px/1 dashicons;
  speak: none;
  float: left;
  padding: 0;
  text-indent: 0;
  text-align: center;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none !important;
  margin-right: 6px; }

.nav-menus-php .mega_menu_meta_box div.accordion_content {
  padding: 0 0 20px 0;
  float: left;
  border: 0;
  width: 100%; }

.nav-menus-php .mega_menu_meta_box div table {
  font-size: 0.9em;
  width: 100%;
  margin-bottom: 5px;
  border-collapse: collapse; }
  .nav-menus-php .mega_menu_meta_box div table select {
    font-size: 0.9em;
    max-width: 120px; }
  .nav-menus-php .mega_menu_meta_box div table tr {
    height: 29px;
    vertical-align: middle; }
  .nav-menus-php .mega_menu_meta_box div table th {
    border-bottom: 1px solid #DFDFDF;
    font-size: 1.1em; }
  .nav-menus-php .mega_menu_meta_box div table td:nth-child(2) {
    text-align: right;
    min-width: 150px; }

.nav-menus-php .mega_menu_meta_box th::before {
  content: '\f100'; }

.nav-menus-php .mega_menu_meta_box th.settings::before {
  content: '\f111'; }

.nav-menus-php .mega_menu_meta_box p.submit {
  float: right;
  text-align: right;
  width: auto;
  margin: 0 0 15px 0;
  padding: 0; }

.nav-menus-php .mega_menu_meta_box .spinner {
  float: right; }

.nav-menus-php #nav-menu-meta .mega_menu_meta_box .accordion-section-content {
  padding: 0 10px; }

.nav-menus-php .menu-item-handle .item-title {
  margin-right: 0; }

.toplevel_page_maxmegamenu .notice,
.mega-menu_page_maxmegamenu_theme_editor .notice,
.toplevel_page_maxmegamenu div.updated,
.toplevel_page_maxmegamenu div.error {
  margin-left: 0;
  clear: both; }

body[class*='_page_maxmegamenu_'] .megamenu_outer_wrap,
body.toplevel_page_maxmegamenu .megamenu_outer_wrap {
  display: inline-block;
  width: 100%;
  padding-right: 20px;
  padding-top: 10px;
  box-sizing: border-box; }

body[class*='_page_maxmegamenu_'] *:focus,
body.toplevel_page_maxmegamenu *:focus {
  box-shadow: 0 0 0; }

body[class*='_page_maxmegamenu_'] .icon_dropdown .select2-choice > .select2-chosen,
body.toplevel_page_maxmegamenu .icon_dropdown .select2-choice > .select2-chosen {
  line-height: 28px;
  margin-right: 0px; }

body[class*='_page_maxmegamenu_'] .icon_dropdown .select2-choice .select2-arrow,
body.toplevel_page_maxmegamenu .icon_dropdown .select2-choice .select2-arrow {
  display: none; }

body[class*='_page_maxmegamenu_'] .icon_dropdown .select2-choice,
body.toplevel_page_maxmegamenu .icon_dropdown .select2-choice {
  padding: 0 5px 0 5px;
  height: 28px;
  color: #DFDFDF; }

body[class*='_page_maxmegamenu_'] .icon_dropdown .select2-chosen i:before,
body.toplevel_page_maxmegamenu .icon_dropdown .select2-chosen i:before {
  line-height: 28px;
  font-size: 16px;
  color: #444; }

body[class*='_page_maxmegamenu_'] .tpx-select2-drop,
body.toplevel_page_maxmegamenu .tpx-select2-drop {
  box-shadow: 0 0 0;
  min-width: 150px; }

body[class*='_page_maxmegamenu_'] .select2-results li,
body.toplevel_page_maxmegamenu .select2-results li {
  float: left; }
  body[class*='_page_maxmegamenu_'] .select2-results li:first-child,
  body.toplevel_page_maxmegamenu .select2-results li:first-child {
    float: none; }
    body[class*='_page_maxmegamenu_'] .select2-results li:first-child i,
    body.toplevel_page_maxmegamenu .select2-results li:first-child i {
      display: none; }
  body[class*='_page_maxmegamenu_'] .select2-results li .select2-result-label,
  body.toplevel_page_maxmegamenu .select2-results li .select2-result-label {
    font-size: 0.9em; }

body[class*='_page_maxmegamenu_'] .icon_dropdown .select2-choice > .select2-chosen i,
body[class*='_page_maxmegamenu_'] .select2-result-label i,
body.toplevel_page_maxmegamenu .icon_dropdown .select2-choice > .select2-chosen i,
body.toplevel_page_maxmegamenu .select2-result-label i {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  text-decoration: inherit;
  font-weight: normal;
  font-style: normal;
  vertical-align: top;
  text-align: center;
  -webkit-transition: color .1s ease-in 0;
  transition: color .1s ease-in 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body[class*='_page_maxmegamenu_'] .megamenu_wrap,
body.toplevel_page_maxmegamenu .megamenu_wrap {
  width: 100%;
  float: left;
  background: white; }

body[class*='_page_maxmegamenu_'] .megamenu_left,
body.toplevel_page_maxmegamenu .megamenu_left {
  float: left;
  width: 190px;
  margin-left: -100%; }
  body[class*='_page_maxmegamenu_'] .megamenu_left ul li a:hover,
  body[class*='_page_maxmegamenu_'] .megamenu_left ul li a.active,
  body.toplevel_page_maxmegamenu .megamenu_left ul li a:hover,
  body.toplevel_page_maxmegamenu .megamenu_left ul li a.active {
    border-left: 2px solid #0074a2;
    color: #0074a2; }
  body[class*='_page_maxmegamenu_'] .megamenu_left ul li a,
  body.toplevel_page_maxmegamenu .megamenu_left ul li a {
    text-decoration: none;
    color: #444;
    width: 100%;
    display: block;
    padding: 5px 0px 5px 17px;
    box-sizing: border-box;
    border-left: 2px solid white;
    outline: 0; }
  body[class*='_page_maxmegamenu_'] .megamenu_left ul li.error,
  body.toplevel_page_maxmegamenu .megamenu_left ul li.error {
    border-left: 3px solid #D0011B; }
  body[class*='_page_maxmegamenu_'] .megamenu_left ul li.mega_active,
  body.toplevel_page_maxmegamenu .megamenu_left ul li.mega_active {
    font-weight: bold; }
  body[class*='_page_maxmegamenu_'] .megamenu_left ul li.mega_active a:after,
  body.toplevel_page_maxmegamenu .megamenu_left ul li.mega_active a:after {
    right: 0;
    content: '\f139';
    border: 0;
    background: 0 0;
    font: 400 20px/1 dashicons;
    speak: none;
    float: right;
    padding: 0;
    text-indent: 0;
    text-align: center;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    margin-right: 0; }

body[class*='_page_maxmegamenu_'] h3.first,
body.toplevel_page_maxmegamenu h3.first {
  margin-top: 0; }

body[class*='_page_maxmegamenu_'] h3,
body.toplevel_page_maxmegamenu h3 {
  clear: both;
  font-size: 1.1em;
  margin: 17px 0 5px 0;
  text-indent: 1px;
  border-bottom: 1px solid #DFDFDF;
  padding: 0 0 10px 0; }

body[class*='_page_maxmegamenu_'] h3 span,
body.toplevel_page_maxmegamenu h3 span {
  margin-right: 10px; }

body[class*='_page_maxmegamenu_'] a,
body.toplevel_page_maxmegamenu a {
  text-decoration: none; }

body[class*='_page_maxmegamenu_'] .duplicate,
body.toplevel_page_maxmegamenu .duplicate {
  margin-left: 15px; }

body[class*='_page_maxmegamenu_'] .megamenu_submit,
body.toplevel_page_maxmegamenu .megamenu_submit {
  margin-bottom: 40px;
  padding-top: 35px; }
  body[class*='_page_maxmegamenu_'] .megamenu_submit .mega_left,
  body[class*='_page_maxmegamenu_'] .megamenu_submit .mega_right,
  body.toplevel_page_maxmegamenu .megamenu_submit .mega_left,
  body.toplevel_page_maxmegamenu .megamenu_submit .mega_right {
    float: left;
    width: 50%; }
  body[class*='_page_maxmegamenu_'] .megamenu_submit .spinner,
  body.toplevel_page_maxmegamenu .megamenu_submit .spinner {
    float: left; }
  body[class*='_page_maxmegamenu_'] .megamenu_submit p.submit,
  body.toplevel_page_maxmegamenu .megamenu_submit p.submit {
    margin: 0;
    padding: 0;
    float: left; }
  body[class*='_page_maxmegamenu_'] .megamenu_submit .mega_right,
  body.toplevel_page_maxmegamenu .megamenu_submit .mega_right {
    text-align: right; }
  body[class*='_page_maxmegamenu_'] .megamenu_submit .mega_right a,
  body.toplevel_page_maxmegamenu .megamenu_submit .mega_right a {
    color: #D0011B; }

body[class*='_page_maxmegamenu_'] .megamenu_header,
body.toplevel_page_maxmegamenu .megamenu_header {
  background: white;
  padding: 10px 17px;
  border-bottom: 1px solid #eee;
  float: left;
  width: 100%;
  box-sizing: border-box; }
  body[class*='_page_maxmegamenu_'] .megamenu_header .version,
  body.toplevel_page_maxmegamenu .megamenu_header .version {
    font-style: italic;
    color: #999;
    margin-bottom: 15px; }

body[class*='_page_maxmegamenu_'] .megamenu_header_top,
body.toplevel_page_maxmegamenu .megamenu_header_top {
  font-size: 0.9em;
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  box-sizing: border-box; }
  body[class*='_page_maxmegamenu_'] .megamenu_header_top ul,
  body.toplevel_page_maxmegamenu .megamenu_header_top ul {
    margin: 0;
    float: right;
    position: relative; }
    body[class*='_page_maxmegamenu_'] .megamenu_header_top ul li,
    body.toplevel_page_maxmegamenu .megamenu_header_top ul li {
      display: inline-block;
      margin: 0 0 0 14px;
      line-height: 30px; }
      body[class*='_page_maxmegamenu_'] .megamenu_header_top ul li.mega-highlight,
      body.toplevel_page_maxmegamenu .megamenu_header_top ul li.mega-highlight {
        background: #35b1df;
        border-radius: 5px; }
        body[class*='_page_maxmegamenu_'] .megamenu_header_top ul li.mega-highlight a,
        body.toplevel_page_maxmegamenu .megamenu_header_top ul li.mega-highlight a {
          color: white;
          line-height: 30px;
          padding: 0 10px; }
      body[class*='_page_maxmegamenu_'] .megamenu_header_top ul li.mega-star:before,
      body.toplevel_page_maxmegamenu .megamenu_header_top ul li.mega-star:before {
        font: 400 14px/28px dashicons;
        color: #ffb900;
        margin-right: 4px;
        content: "\f155";
        speak: none;
        padding: 0;
        display: inline-block;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }

body[class*='_page_maxmegamenu_'] .megamenu_wrap .megamenu_submit .saved,
body.toplevel_page_maxmegamenu .megamenu_wrap .megamenu_submit .saved {
  background: transparent;
  line-height: 28px;
  margin: 0 0 0 5px;
  float: left;
  border-radius: 0;
  color: #0074a2;
  text-transform: uppercase;
  font-weight: bold; }

body[class*='_page_maxmegamenu_'] .megamenu_wrap .megamenu_submit .saved .dashicons,
body.toplevel_page_maxmegamenu .megamenu_wrap .megamenu_submit .saved .dashicons {
  color: #0074a2;
  width: 26px;
  line-height: 28px;
  height: 28px; }

body[class*='_page_maxmegamenu_'] .megamenu_wrap .success,
body[class*='_page_maxmegamenu_'] .megamenu_wrap .fail,
body.toplevel_page_maxmegamenu .megamenu_wrap .success,
body.toplevel_page_maxmegamenu .megamenu_wrap .fail {
  background: #fff;
  border-left: 4px solid #46b450;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 5px 0 30px;
  line-height: 22px;
  clear: both; }

body[class*='_page_maxmegamenu_'] .megamenu_wrap .fail,
body.toplevel_page_maxmegamenu .megamenu_wrap .fail {
  border-left: 4px solid #D0011B; }

body[class*='_page_maxmegamenu_'] .mm-picker-container,
body.toplevel_page_maxmegamenu .mm-picker-container {
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid #ccc;
  font-size: 0.9em;
  float: left; }
  body[class*='_page_maxmegamenu_'] .mm-picker-container .sp-replacer,
  body.toplevel_page_maxmegamenu .mm-picker-container .sp-replacer {
    margin: 0;
    float: left; }
  body[class*='_page_maxmegamenu_'] .mm-picker-container .sp-palette-container,
  body.toplevel_page_maxmegamenu .mm-picker-container .sp-palette-container {
    width: 40px; }
  body[class*='_page_maxmegamenu_'] .mm-picker-container .sp-replacer .sp-preview,
  body.toplevel_page_maxmegamenu .mm-picker-container .sp-replacer .sp-preview {
    border: 0;
    height: 26px;
    width: 26px;
    margin: 0; }
  body[class*='_page_maxmegamenu_'] .mm-picker-container input.mm_colorpicker,
  body.toplevel_page_maxmegamenu .mm-picker-container input.mm_colorpicker {
    float: left;
    border: 0;
    height: 23px;
    box-shadow: 0 0 0;
    margin: 0; }
  body[class*='_page_maxmegamenu_'] .mm-picker-container div.chosen-color,
  body.toplevel_page_maxmegamenu .mm-picker-container div.chosen-color {
    background: #f7f7f7;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    border-left: 1px solid #ccc;
    color: #444;
    font-size: 11px;
    line-height: 26px;
    padding: 0 6px;
    text-align: center;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    float: left;
    cursor: default; }

body[class*='_page_maxmegamenu_'] .block .mm-picker-container,
body.toplevel_page_maxmegamenu .block .mm-picker-container {
  float: right;
  margin-right: 0; }

body[class*='_page_maxmegamenu_'] .megamenu_right,
body.toplevel_page_maxmegamenu .megamenu_right {
  margin-left: 190px;
  padding: 20px;
  box-sizing: border-box;
  border-left: 1px solid #eee;
  min-height: 400px; }
  body[class*='_page_maxmegamenu_'] .megamenu_right .theme_selector,
  body.toplevel_page_maxmegamenu .megamenu_right .theme_selector {
    margin-bottom: 20px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .theme_selector select,
    body.toplevel_page_maxmegamenu .megamenu_right .theme_selector select {
      max-width: 500px; }
  body[class*='_page_maxmegamenu_'] .megamenu_right h2.nav-tab-wrapper,
  body.toplevel_page_maxmegamenu .megamenu_right h2.nav-tab-wrapper {
    margin: 0; }
    body[class*='_page_maxmegamenu_'] .megamenu_right h2.nav-tab-wrapper a.nav-tab,
    body.toplevel_page_maxmegamenu .megamenu_right h2.nav-tab-wrapper a.nav-tab {
      cursor: pointer; }
    body[class*='_page_maxmegamenu_'] .megamenu_right h2.nav-tab-wrapper a.nav-tab-active,
    body.toplevel_page_maxmegamenu .megamenu_right h2.nav-tab-wrapper a.nav-tab-active {
      background: white;
      position: relative;
      z-index: 1;
      border-bottom: 1px solid white; }
  body[class*='_page_maxmegamenu_'] .megamenu_right h3.editing_theme,
  body.toplevel_page_maxmegamenu .megamenu_right h3.editing_theme {
    margin: 0 0 30px 0;
    padding: 0;
    border: 0;
    float: left;
    width: 100%; }
  body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings.menu_settings_menu_themes td.mega-name,
  body.toplevel_page_maxmegamenu .megamenu_right .menu_settings.menu_settings_menu_themes td.mega-name {
    padding-left: 10px; }
  body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings.menu_settings_menu_themes h5,
  body.toplevel_page_maxmegamenu .megamenu_right .menu_settings.menu_settings_menu_themes h5 {
    clear: both;
    font-size: 1.1em;
    margin: 15px 0 0 10px;
    padding: 0; }
  body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings.menu_settings_tools label,
  body.toplevel_page_maxmegamenu .megamenu_right .menu_settings.menu_settings_tools label {
    clear: both;
    width: 100%; }
  body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings.menu_settings_menu_locations .accordion-container,
  body.toplevel_page_maxmegamenu .megamenu_right .menu_settings.menu_settings_menu_locations .accordion-container {
    border: 1px solid #DFDFDF; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings.menu_settings_menu_locations .accordion-container h4,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings.menu_settings_menu_locations .accordion-container h4 {
      margin: 0; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings.menu_settings_menu_locations .accordion-container .accordion-section-content,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings.menu_settings_menu_locations .accordion-container .accordion-section-content {
      padding-left: 10px;
      padding-right: 10px; }
  body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings.menu_settings_menu_locations .mega-assigned-menu,
  body.toplevel_page_maxmegamenu .megamenu_right .menu_settings.menu_settings_menu_locations .mega-assigned-menu {
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.7;
    margin-right: 28px;
    font-size: 0.8em; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings.menu_settings_menu_locations .mega-assigned-menu:before,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings.menu_settings_menu_locations .mega-assigned-menu:before {
      font: 400 16px/21px dashicons;
      margin-right: 4px;
      content: "\f333";
      speak: none;
      padding: 0;
      display: inline-block;
      vertical-align: top;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings.menu_settings_menu_locations table .mega-value textarea,
  body.toplevel_page_maxmegamenu .megamenu_right .menu_settings.menu_settings_menu_locations table .mega-value textarea {
    height: 40px; }
  body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings.menu_settings_menu_locations h5,
  body.toplevel_page_maxmegamenu .megamenu_right .menu_settings.menu_settings_menu_locations h5 {
    font-size: 12px; }
  body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings.menu_settings_menu_locations .accordion-section-content,
  body.toplevel_page_maxmegamenu .megamenu_right .menu_settings.menu_settings_menu_locations .accordion-section-content {
    width: 100%;
    box-sizing: border-box; }
  body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table,
  body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table {
    width: 100%;
    border-collapse: collapse; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table label,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table label {
      font-size: 0.9em;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table textarea,
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table input[type=text],
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table input[type=number],
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table select,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table textarea,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table input[type=text],
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table input[type=number],
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table select {
      font-size: 0.9em;
      height: 28px;
      line-height: 28px;
      vertical-align: top; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table textarea,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table textarea {
      width: 100%;
      height: 150px;
      font-family: monospace;
      line-height: 1.5em;
      margin-bottom: 10px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table input[type=number],
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table input[type=number] {
      height: auto;
      line-height: 1.2em; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table input[name=export],
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table input[name=export] {
      margin-top: 20px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table input[type=text],
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table input[type=text] {
      width: 70px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table input[type=submit],
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table input[type=submit] {
      width: auto; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table input[type=checkbox],
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table input[type=checkbox] {
      width: 16px;
      height: 16px;
      vertical-align: middle; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table input.mega-setting-panel_width,
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table input.mega-setting-panel_inner_width,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table input.mega-setting-panel_width,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table input.mega-setting-panel_inner_width {
      width: 120px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table input.mega-setting-title,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table input.mega-setting-title {
      width: 100px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .wide input[type=text],
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .wide input[type=text] {
      width: 300px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .CodeMirror,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .CodeMirror {
      height: auto;
      min-height: 150px;
      border: 1px solid #aaa; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .CodeMirror-scroll,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .CodeMirror-scroll {
      min-height: 150px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table tr:first-child td,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table tr:first-child td {
      border-top: 0;
      padding-top: 20px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table th,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table th {
      text-align: left; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table td,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table td {
      position: relative;
      padding-bottom: 25px;
      padding-top: 15px;
      border-top: 1px solid #eee; }
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table td.mega-name,
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table td.mega-name {
        width: 33%;
        line-height: 2em;
        padding-right: 30px;
        vertical-align: top; }
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table td.mega-value,
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table td.mega-value {
        padding-top: 10px; }
        body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table td.mega-value .mega-description,
        body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table td.mega-value .mega-description {
          margin-top: 5px; }
        body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table td.mega-value .mega-info,
        body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table td.mega-value .mega-info {
          clear: both;
          margin-top: 15px;
          display: block;
          float: left;
          font-size: 0.9em;
          color: #aaa;
          line-height: 20px;
          width: 100%; }
          body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table td.mega-value .mega-info:before,
          body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table td.mega-value .mega-info:before {
            font: 400 20px/1 dashicons;
            content: "\f348";
            speak: none;
            padding: 0;
            margin-right: 6px;
            display: inline-block;
            vertical-align: top;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; }
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table td.mega-custom_css,
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table td.mega-custom_css {
        width: 100%;
        margin-bottom: 0; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table td.mega-value.mega-instances,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table td.mega-value.mega-instances {
      vertical-align: top; }
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table td.mega-value.mega-instances table th,
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table td.mega-value.mega-instances table td,
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table td.mega-value.mega-instances table th,
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table td.mega-value.mega-instances table td {
        font-weight: normal;
        padding: 5px; }
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table td.mega-value.mega-instances .mega-description,
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table td.mega-value.mega-instances .mega-description {
        padding-left: 5px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table td.mega-name .mega-description,
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table td.mega-value .mega-description,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table td.mega-name .mega-description,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table td.mega-value .mega-description {
      font-size: 0.9em;
      color: #aaa;
      line-height: 1.5em; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table ul.custom_styling_tips,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table ul.custom_styling_tips {
      list-style-type: disc;
      list-style-position: inside; }
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table ul.custom_styling_tips code,
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table ul.custom_styling_tips code {
        margin: 10px 0 0 0;
        font-size: 0.9em; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table label.mega-error input,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table label.mega-error input {
      border: 1px solid #D0011B;
      background: #FFDDDD; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table label.mega-toggle_blocks,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table label.mega-toggle_blocks {
      width: 100%;
      cursor: auto; }
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table label.mega-toggle_blocks .mega-value,
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table label.mega-toggle_blocks .mega-value {
        padding-bottom: 0; }
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table label.mega-toggle_blocks .mega-description,
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table label.mega-toggle_blocks .mega-description {
        float: left;
        width: 100%;
        margin-top: 20px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-left,
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-center,
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-right,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-left,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-center,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-right {
      box-sizing: border-box;
      border: 1px solid #ccc;
      background: #f7f7f7;
      width: 33%;
      height: 60px;
      padding: 10px;
      margin-top: 15px;
      float: left; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-left,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-left {
      border-right: 0px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-center,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-center {
      border-left: 1px dashed #ccc;
      border-right: 1px dashed #ccc;
      text-align: center; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-right,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-right {
      border-left: 0px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-right .block,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-right .block {
      float: right;
      margin: 0 0 0 5px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block.mega-open .block-title,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block.mega-open .block-title {
      border-bottom: 1px solid white;
      border-radius: 3px 3px 0 0; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block .block-title,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block .block-title {
      padding: 0 10px;
      display: inline-block;
      height: 35px;
      line-height: 35px;
      font-size: 0.9em;
      background: white;
      color: #444;
      cursor: move;
      border: 1px solid #ccc;
      position: relative;
      z-index: 2;
      border-radius: 3px;
      text-align: left;
      box-sizing: border-box; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block.ui-sortable-helper,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block.ui-sortable-helper {
      width: auto !important; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block .block-title .dashicons,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block .block-title .dashicons {
      line-height: 35px;
      cursor: pointer;
      font-size: 20px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block .block-settings,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block .block-settings {
      padding: 10px;
      display: none;
      width: 300px;
      vertical-align: top;
      background: white;
      text-align: left;
      color: #ccc;
      position: absolute;
      left: 0px;
      top: 36px;
      z-index: 1;
      border: 1px solid #ccc; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-right .block .block-settings,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .mega-right .block .block-settings {
      left: auto;
      right: 0; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block h3,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block h3 {
      margin-top: 5px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .block-settings label,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .block-settings label {
      width: 100%;
      clear: both;
      color: #444;
      font-size: 1em; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .block-settings label input,
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .block-settings label select,
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .block-settings label input,
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .block-settings label .icon_dropdown,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .block-settings label input,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .block-settings label select,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .block-settings label input,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .block-settings label .icon_dropdown {
      float: right;
      font-size: 0.9em; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .toggle-left,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .toggle-left {
      border-right: 1px dashed #ccc; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .toggle-right,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .toggle-right {
      border-left: 0px solid #ccc;
      text-align: right; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: 0 5px 0 0; }
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block input[type=text],
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .toggle-bar-designer .mega-blocks .block input[type=text] {
        width: 50%; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table .mega-validation-message,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table .mega-validation-message {
      display: none;
      clear: both;
      font-size: 0.8em;
      color: #D0011B; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table label span.mega-short-desc,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table label span.mega-short-desc {
      font-size: 0.8em;
      text-transform: uppercase;
      color: #aaa;
      display: block;
      margin: 0 0 2px 1px; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table label.mega-copy_color,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table label.mega-copy_color {
      margin-right: 3px; }
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table label.mega-copy_color span.mega-short-desc,
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table label.mega-copy_color span.mega-short-desc {
        visibility: hidden; }
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings table label.mega-copy_color span.dashicons,
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings table label.mega-copy_color span.dashicons {
        opacity: 0.5;
        margin-top: 6px;
        font-size: 16px; }
  body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings .row h5,
  body.toplevel_page_maxmegamenu .megamenu_right .menu_settings .row h5 {
    margin: 0;
    font-weight: normal;
    float: left;
    width: 250px;
    font-size: 1em; }
  body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings .megamenu_submit,
  body.toplevel_page_maxmegamenu .megamenu_right .menu_settings .megamenu_submit {
    float: left;
    width: 100%; }
  body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings div.mega-tab-content,
  body.toplevel_page_maxmegamenu .megamenu_right .menu_settings div.mega-tab-content {
    position: relative;
    top: -1px;
    clear: both;
    border: 1px solid #ccc;
    float: left;
    width: 100%;
    padding: 0;
    box-sizing: border-box; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings div.mega-tab-content.mega-toggle-disabled .mega-toggle_blocks td:after,
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings div.mega-tab-content.mega-toggle-disabled .mega-toggle_bar_background td:after,
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings div.mega-tab-content.mega-toggle-disabled .mega-toggle_bar_height td:after,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings div.mega-tab-content.mega-toggle-disabled .mega-toggle_blocks td:after,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings div.mega-tab-content.mega-toggle-disabled .mega-toggle_bar_background td:after,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings div.mega-tab-content.mega-toggle-disabled .mega-toggle_bar_height td:after {
      background: #eee;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: "";
      opacity: 0.5;
      z-index: 9; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings div.mega-tab-content.mega-toggle-disabled .mega-mobile_toggle_disabled,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings div.mega-tab-content.mega-toggle-disabled .mega-mobile_toggle_disabled {
      display: table-row; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings div.mega-tab-content.mega-mobile-disabled tr:not(.mega-responsive_breakpoint):not(.mega-responsive_breakpoint_disabled) td:after,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings div.mega-tab-content.mega-mobile-disabled tr:not(.mega-responsive_breakpoint):not(.mega-responsive_breakpoint_disabled) td:after {
      background: #eee;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: "";
      opacity: 0.5;
      z-index: 9; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings div.mega-tab-content.mega-mobile-disabled .mega-responsive_breakpoint_disabled,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings div.mega-tab-content.mega-mobile-disabled .mega-responsive_breakpoint_disabled {
      display: table-row; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings div.mega-tab-content.mega-mobile-disabled .mega-mobile_toggle_disabled,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings div.mega-tab-content.mega-mobile-disabled .mega-mobile_toggle_disabled {
      display: none; }
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings div.mega-tab-content .mega-responsive_breakpoint_disabled,
    body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings div.mega-tab-content .mega-mobile_toggle_disabled,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings div.mega-tab-content .mega-responsive_breakpoint_disabled,
    body.toplevel_page_maxmegamenu .megamenu_right .menu_settings div.mega-tab-content .mega-mobile_toggle_disabled {
      display: none; }
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings div.mega-tab-content .mega-responsive_breakpoint_disabled td,
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings div.mega-tab-content .mega-mobile_toggle_disabled td,
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings div.mega-tab-content .mega-responsive_breakpoint_disabled td,
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings div.mega-tab-content .mega-mobile_toggle_disabled td {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 0; }
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings div.mega-tab-content .mega-responsive_breakpoint_disabled h5,
      body[class*='_page_maxmegamenu_'] .megamenu_right .menu_settings div.mega-tab-content .mega-mobile_toggle_disabled h5,
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings div.mega-tab-content .mega-responsive_breakpoint_disabled h5,
      body.toplevel_page_maxmegamenu .megamenu_right .menu_settings div.mega-tab-content .mega-mobile_toggle_disabled h5 {
        border: 1px solid #ccc;
        padding: 10px;
        box-sizing: border-box;
        border-left: 3px solid #46b450;
        font-size: 12px;
        font-weight: normal;
        margin: 0 10px; }
  body[class*='_page_maxmegamenu_'] .megamenu_right .mega-description .fail,
  body.toplevel_page_maxmegamenu .megamenu_right .mega-description .fail {
    margin: 20px 0 0 0;
    color: #999; }

body[class*='_page_maxmegamenu_'] .mega-delete,
body.toplevel_page_maxmegamenu .mega-delete {
  margin-bottom: 15px;
  cursor: pointer; }

@keyframes "rotation" {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
